body{
	background-color: #000;
}
 

#header{
	position: top;
	height: 150px;
	min-width: 748px;
	max-width: 908px;
    width: 100%;
	margin: -5px auto 0px auto;
	background-color: #fff;
	opacity: 0.7;
}

#content{
	min-width: 748px;
	max-width: 900px;
	background-color: #fff;
	opacity: 0.7;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	padding: 8px;
}

#sidebar{
	float:right;
	width: 300px;
	margin-top: 15px;
	background-color: #fff;
	opacity: 0.7;
	padding: 8px;
}

#footer{
	width: 100%;
	bottom: 0px:
    position: absolute;
	margin-bottom: 0px;
	background-color: #fff;
	opacity: 0.7;
}

p{
	text-indent: 15px;
	opacity: 1.0;
}