#navlist 
{
font-family: sans-serif;
}

#navlist, #navlist ul, #navlist li
{
margin-right: 3px;
padding: 0px;
list-style-type: none;
}

#navlist li {
float: left;
color: #000;
background-color: #fff;
 }

#navlist li a
{
text-decoration:none;
color: #000;
background-color: #fff;
padding: 3px;
}

#navlist li a:hover
{
color: #000;
background-color: #fff;
}

#navlist li a:active
{
color: #000;
background-color: #fff;
}

#subnavlist
{ 
display: none; 
}
 
#subnavlist li 
{ 
float: left; 
margin-right: 3px;
}

#subnavlist li a
{
padding: 0px;
margin: 0px;
}

#navlist li:hover ul#subnavlist
{
display: block;
position: absolute;
font-size: 8pt;
padding-top: 3px;
}

#navlist li:hover ul#subnavlist li a
{
display: block;
padding: 2px;
}

/*ul#navlist li:hover ul#subnavlist li a:before { content: " >> "; }*/ 